

.barra-lateral {
  flex: 0 0 30vw;
  max-width: 40vw;
  height: 100vh;
  background: var(--color-rosa1);
  color: var(--color-fondo);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.barra-lateral__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}


.barra-lateral__aside {
  width: 100%;
  color: var(--color-fondo);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 1.2rem;
}

.barra-lateral__logo {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 50%;
  background: var(--color-fondo);
  margin-bottom: 2rem;
  box-shadow: 0 4px 16px var(--color-sombra-sidebar-logo);
}

.barra-lateral__marca {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.barra-lateral__frase {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0.5rem;
  line-height: 1.3;
}

@media (max-width: 900px) {


.barra-lateral {
    height: auto;
    min-height: auto;
    width: 100%;
    padding: 2rem 1rem 1rem 1rem;
    justify-content: flex-start;
  }

  .barra-lateral__logo {
    width: 100px;
    height: 100px;
  }
  .barra-lateral__marca {
    font-size: 2.2rem;
  }
  .barra-lateral__frase {
    font-size: 1.4rem;
  }
}