.ubicacion-section {
  border-radius: 16px;
  padding: 2.5rem 1rem;
  margin: 2rem auto;
  max-width: 950px;
}

.ubicacion-content {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.ubicacion-img-container {
  flex: 1;
  min-width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ubicacion-img {
  width: 100%;
  max-width: 320px;
  border-radius: 14px;
  box-shadow: 0 4px 16px var(--color-sombra-rosa1-10);
  border: 3px solid var(--color-primary);
  object-fit: cover;
}

.ubicacion-info {
  flex: 2;
  min-width: 260px;
}

.ubicacion-title {
  color: var(--color-rosa2);
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.ubicacion-desc {
  font-weight: bold;
  color: var(--color-negro);
  font-size: 1.15rem;
  margin-bottom: 1.2rem;
  
}

@media (max-width: 800px) {
  .ubicacion-content {
    flex-direction: column;
    gap: 1.2rem;
  }
  .ubicacion-img {
    max-width: 100%;
  }
}
